
.search-result {
        width: 80%;
        background-color: #343434;

}


.group-list-section {
        position: fixed;
        top: 0px;
        width: 15%;
        height: 100%;
        background-color: #09346b;
        display: block;
        overflow-y: scroll;
        /* scrollbar-width: none; */
}

.group-list-section-member{
        /* text-align: left; */
        width: 100%;
        height: 70px;
        left: 0px;
        background-color: rgb(71, 4, 71);
        border: 2px solid yellow;
        box-sizing: border-box;
}


.group-chat-section {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 85%;
        height: calc(100% - 50px);
        background-color: #093d82;
        overflow-y: scroll;
        
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start; */
        
        padding-top: 5px;

        .group-chat-section-member {
                width: 100%;
                /* background-color: rgb(9, 9, 126); */
                height: auto;
                text-align: left;

                display: flex;
                align-items: flex-start;

                img#profile-picture {
                        height: 45px;
                        width: 35px;
                }

                .group-chat-data {
                        margin: 5px 0px 10px 10px;
                        display: flex;
                        flex-direction: column;
                        
                        .group-chat-timestamp {
                                /* background-color: green; */
                                width: fit-content;
                                font-size: 12px;
                                height: min-content;
                                line-height: 12px;
                        }
                        .group-chat-text {
                                /* background-color: rgb(2, 56, 2); */
                                width: fit-content;
                        }
                }

        }
}

.group-chat-text-input {
        position: fixed;
        width: 100%;
        bottom: 0px;
        height: 50px;
        /* left: 40px; */

        background-color: black;
        text-align: left;
        * {
                font-size: 24px;
        }
}
